.titulo1, .subtitulo1, .section2, .section2 img, footer .footer-tittle, footer .InstaLogo, .tittle-productos, .tittle-productos2 {
  display: flex;
  justify-content: center; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #fff5fc;
  background: linear-gradient(180deg, rgba(255, 245, 252, 0.379989) 7%, #fff3ff 23%);
  font-family: 'Roboto', sans-serif !important;
  color: black; }

/* Titulo y subtitulo centrado */
.style-titulo {
  margin-bottom: 20px; }

.titulo1 {
  color: #fd71a0;
  font-style: italic;
  font-size: 60px;
  font-weight: bolder; }

.subtitulo1 {
  color: #cc7dee;
  font-size: 25px;
  font-style: italic;
  font-weight: bold; }

/* Foto de la emprendedora mas breve texto */
.section2 {
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 25px; }

.section2 img {
  width: 35%;
  border-radius: 40px;
  margin-left: 25px;
  margin-right: 20px; }

.descripcion {
  color: black;
  font-size: 20px;
  width: 400px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-weight: 800; }

.descripcion2 {
  font-size: 20px;
  margin-left: 270px;
  margin-right: 200px;
  font-weight: 800; }

/* FOOTER */
footer {
  background-color: #f5dcff;
  height: 180px; }
  footer a {
    text-decoration: none;
    color: black; }
    footer a:hover {
      color: #d3c1ff; }
  footer .footer-tittle {
    margin-left: 140px;
    font-size: 25px; }
  footer .InstaLogo {
    font-size: 20px;
    align-items: center;
    margin: 30px; }
  footer .WaLogo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-left: 140px; }
  footer .imagenlogo {
    float: right;
    opacity: 0.5;
    filter: alpha(opacity=50); }

/* IMAGENES BORDES-TORTAS Y RECETAS.HTML */
.texto1 {
  margin-top: 25px;
  margin-bottom: 15px; }

.image2 {
  border-radius: 40px;
  transition: all 2s ease-in; }
  .image2:hover {
    transform: scale(2); }

.image3 {
  border-radius: 40px;
  margin-top: 15px;
  margin-bottom: 25px; }

/*  titulo principal y titulos secundarios */
.tittle-productos {
  color: #fd71a0;
  font-weight: bolder;
  font-size: 50px;
  margin: 5px auto; }

.tittle-productos2 {
  color: #fd71a0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold; }

.item-pedido {
  margin-top: 50px;
  display: flex;
  align-items: center; }

.texto2 {
  font-size: 18px; }

/* MEDIA QUERY */
/* MOBILE STYLE */
@media only screen and (max-width: 400px) {
  .titulo1 {
    margin: 5px 50%; }
  .subtitulo1 {
    margin: 5px auto;
    font-size: medium; }
  .section2 {
    margin: 10px 25px; }
    .section2 img {
      display: none; }
  .section-d .descripcion2 {
    margin-left: 25px;
    margin-right: 15px; }
  .image3 {
    width: 300px;
    height: 300px;
    margin: 5px;
    margin-left: 15px; }
  .image4 {
    margin-top: 2px;
    margin-right: 15px; }
  /*  FOOTER */
  .footer .footer-tittle {
    margin-left: 20px; }
  .footer .imagenlogo {
    display: none; }
  .footer .footer-tittle {
    margin-left: 20px; }
  .footer .InstaLogo {
    margin: 20px; }
  .footer .WaLogo {
    margin-left: 100px; } }

/* TABLET */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .subtitulo1 {
    font-size: medium; }
  .titulo1 {
    margin: 5px 50%; }
  .section2 img {
    display: none; }
  .section-d .descripcion2 {
    margin-left: 40px;
    margin-right: 40px; }
  .image4 {
    margin-top: 5px; }
  .footer .imagenlogo {
    display: none; }
  .image3 {
    margin-left: 60px; }
  /*  FOOTER */
  .footer .footer-tittle {
    margin-left: 20px; }
  .footer .imagenlogo {
    display: none; }
  .footer .footer-tittle {
    margin-left: 20px; }
  .footer .InstaLogo {
    margin: 20px; }
  .footer .WaLogo {
    margin-left: 150px; } }

/* DESKTOP */
@media only screen and (min-width: 961px) {
  .descripcion2 {
    font-size: 20px;
    margin-left: 220px;
    margin-right: 220px;
    font-weight: 800; } }
